<!DOCTYPE html>
<html lang="en">


	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<title>{{head}}</title>
	</head>

	<body >


		<p>
			<h3>{{body.head}}</h3> 
			{{body.text}}

		</p>


	</body>
 




</html>